@font-face {
  font-family: 'PF Din Display Pro';
  src: url(../fonts/pfdindisplaypro-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'PF Din Display Pro Bold';
  src: url(../fonts/pfdindisplaypro-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'PF Din Text Cond Pro Bold';
  src: url(../fonts/pfdintextcondpro-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url(../fonts/pfdintextcondpro-medium.ttf) format('truetype');
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  height: 100%;
  font-family: 'PF Din Display Pro', sans-serif;
  color: #5d6c78;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 800px;
  background-image: url('../image/background.jpg') ;
  overflow: hidden;
}

.container_home {
  padding: 101px 0 0 101px;
}

.container_user {
  display: flex;
  flex-direction: column;
}

.error {
  color: #fe2539;
}

.h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  font-family: "PF Din Text Cond Pro", sans-serif;
}

.h1_user {
  color: #fff;
}

p {
  margin: 0;
}

.font14 {
  font-size: 14px;
  line-height: 14px;
}

.font12 {
  font-size: 12px;
  line-height: 12px;
}

.font21 {
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
}

.form {
  display: inline-flex;
  flex-direction: column;
}

.form__auth {
  width: 402px;
}

.form__reg {
  align-items: center;
}

.docs__scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 19px;
}

.docs__scroll__arrow__top,
.docs__scroll__arrow__bottom {
  position: relative;
  width: 9px;
  height: 5px;
  background-image: url('../image/rounded-rectangle-24.png');
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.docs__scroll__arrow__top {
  top: -8px;
  transform: rotate(180deg);
}

.docs__scroll__arrow__bottom {
  bottom: -8px;
  right: -5px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 27px;
}

/* User  */
.user__header {
  padding: 66px 0 67px;
  text-align: center;
}

.user__tabs {
  display: flex;
  padding: 0 29px;
}

.user__tabs__content {
  flex: 1 1 auto;
  background-color: #fff;
}

.user__footer {
  position: relative;
  padding: 41px 0 39px;
  text-align: center;
  background-color: #f0f0f0;
}

/* auth  */
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
  text-align: center;
}

.auth__title {
  margin-bottom: 44px;
}
.auth__title__text {
  position: relative;
  top: -3px;
  margin-left: 9px;
}

/* reg  */
.reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  margin: 0 auto;
  width: 824px;
  text-align: center;
}

.reg__docs {
  display: flex;
  padding: 16px 8px 15px 16px;
  border-radius: 3px;
  background-color: #f6f6f6;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  display: flex;
  flex-direction: column;
  margin-right: -50%;
  width: 562px;
  height: 402px;
  padding-top: 76px;
  padding-left: 80px;
  padding-right: 80px;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  background-color: #f6fafc;
  text-align: center;
  outline: none;
}

.modal_recovery,
.modal_removeConfirm {
  padding-top: 100px;
}

.modal__session {
  padding-top: 101px;
  padding-left: 29px;
  padding-right: 29px;
  width: 802px;
}

.modal_profile {
  padding-top: 46px;
  padding-bottom: 31px;
  height: auto
}

.modal_success {
  padding-top: 150px;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
}

.modal_profile__date {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 29px;
  width: 275px;
}

.modal_profile__password {
  margin-bottom: 26px;
}

.modal__title {
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
}

.modal__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.modal__description_recovery {
  margin: 41px 0;
}

.modal__description_sessions {
  margin-top: 27px;
}

.modal__description_profile,
.modal__title_session {
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "PF Din Text Cond Pro", sans-serif;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 50%;
  background: none;
  background-image: url('../image/2-layers.png');
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

.modal__session__button {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}

.modal__session__button button,
.modal__session__button a {
  height: 163px;
  width: 364px;
  justify-content: center;
}

.modal_session-download {
  padding-top: 52px;
  padding-bottom: 47px;
  height: auto;
}

.modal__session-header {
  margin: 27px 0 14px;
}

.modal__session-header span {
  padding: 0 20px;
  font-size: 14px;
}

.modal__session-header span:not(:last-child){
  border-right: 1px solid #e9e9e9;
}

.modal__description_session-download {
  margin-bottom: 4px;
  font-size: 16px;
  text-transform: uppercase;
}

.modal_session-open {
  padding: 50px 29px 30px;
  width: 802px;
  height: auto;
}

.modal__description_session {
  margin: 11px 0 14px;
}

.modal__content__session {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border-radius: 3px;
}

.modal__session__header {
  padding: 32px 31px 18px; 
  border-bottom: 3px solid #f0f0f0;
  text-align: left;
}

.modal__session__header__content {
  display: flex;
  align-items: flex-start;
  margin-top: 9px;
}

.modal__session__header__content .block__tags {
  width: 400px;
  margin: 10px 0 0 20px;
}

.modal__comment__session {
  padding: 19px 31px 28px; 
  text-align: left;
}

.modal__comment__session__scroll {
  margin-bottom: 28px;
  height: 74px;
  font-size: 12px;
  line-height: 18px;
  overflow-y: scroll;
}

.modal_session__button,
.modal_remove-confirm__button,
.modal_save-session__button {
  display: flex; 
  justify-content: space-between;
}

.modal_session__button button {
  width: 222px;
}

.modal_remove-confirm__button button {
  width: 193px;
}

.modal_remove-confirm__description {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 52px 0 56px;
}

.modal_remove {
  padding-top: 130px;
  align-items: center;
}

/*sessions  */
.h1__session,
.h3__session {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.h3__session {
  text-transform: uppercase;
}

.sessions {
  display: flex;
  flex-direction: column;
}

.sessions__content {
  padding: 0 128px;
  flex: 1 1 auto;
  background-color: #f6fafc;
}

.sessions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 287px;
}

/* filters  */
.filters {
  display: flex;
  justify-content: space-between;
  margin: 28px auto;
  width: 546px;
}

.filters button:not(:last-child) {text-transform: none;}

/* session  */
.session {
  position: relative;
  padding: 20px;
  width: 234px;
  height: 132px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

.session::after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../image/shape-24.png');
  background-size: contain;
}

.session:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.04);
}

.session__header {
  line-height: 12px;
}

.session__header > span:first-of-type {
  padding-right: 12px; 
  border-right: 1px solid #cdcdcd;
}

.session__header > span:last-of-type {
  padding-left: 12px; 
}

.session__name {
  padding: 10px 0;
  color: #3c6990;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
}

/* pagination  */
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 43px;
}

.pagination > p {
  width: 234px;
  text-align: right;
}

.pagination__arrow {
  display: flex;
  align-items: center;
  width: 234px;
  text-align: center;
}

.pagination__arrow > p {
  flex: 1;
}

/* tags  */
.block__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: 17px 0 14px;
}

.block__tags span {
  padding: 7px 7px 5px;
  margin-bottom: 7px;
  border-radius: 3px;
  background-color: #ebebeb;
  color: #3c6990;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.block__tags span:not(:last-child) {
  margin-right: 7px;
}